<p id="notice"><%= notice %></p>

<h1>Listing Failures</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Stack trace</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @failures.each do |failure| %>
      <tr>
        <td><%= failure.message %></td>
        <td><%= failure.stack_trace %></td>
        <td><%= link_to 'Show', failure %></td>
        <td><%= link_to 'Edit', edit_failure_path(failure) %></td>
        <td><%= link_to 'Destroy', failure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Failure', new_failure_path %>
